/* 通过样式 */
*{
    padding: 0;
    margin: 0;
}
body{
    color: #000;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color:#0ff;
    text-decoration: none;

}
ul,ol{
    list-style-type: none;
}

@media (max-width: 767px) {
    .tb{
        position: absolute;
        right: 0;
        z-index: 99;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    
}
@media (min-width: 768px){ 
    .tb{
        position: absolute;
        right: 0;
        z-index: 99;
        width: 130px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    
}
@media (min-width: 992px) {
    .sb{
        padding: 15px 0px !important;
    }
    .tb{
        position: absolute;
        right: 0;
        z-index: 99;
        width: 130px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .bc{
        padding: 0;
    }
    .bc>img{
        float: right;
    }
}
@media (min-width: 1024px) {
    .sb{
        padding: 15px 5px !important;
    }
    .tb{
        position: absolute;
        right: 0;
        z-index: 99;
        width: 130px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .bc>img{
        float: right;
    }
}

@media (min-width: 1200px) {
    .sb{
        padding: 15px 15px !important;
    }
    .tb{
        position: absolute;
        right: 0;
        z-index: 99;
        width: 130px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .bc>img{
        float: right;
    }
}


/*  */

/* 头部样式 */
.container-1{
    background-color: #efeff1;
}
.navbar-lofree{
    height: 70px;
    background-color: #fff;;
    margin: 0;
    position: relative;
    z-index: 10;
}
#lofree-nav{
    margin: 0 auto;
}
.navbar-lofree>div{
    padding: 0 0 0 30px;
}
.navbar-lofree .navbar-brand{
    height: 70px;
    width: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-lofree .navbar-brand img{
    width: 134px;
    height: 41px;
}
.navbar-brand-1{
   position: absolute;
   z-index: 100;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}
.navbar-lofree .navbar-nav{
    margin: 0 auto;
}

.navbar-lofree .navbar-nav>li>a{
    color: #222;
    height: 70px;
    margin-right: 35px;
    background-color: #fff !important;
    display: flex;
    align-items: center;
}
.navbar-lofree .navbar-nav>li>a:hover{
    color:#0ff !important;
}
.button-nav{
    float: left;
    margin-left: -20px;
    border: none;
}

.tb>span{
    padding:0 15px;
    width: 22px;
    height: 22px;
}

/*  */
/* 轮播图样式 */
.carousel-inner{
    overflow: hidden;
}
.carousel-inner .item{
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-inner .item>img{
    width: 100%;
}
@media screen and (min-width: 768px){
    .carousel-inner .item{
        height: 400px;
    }
}
.carousel-control-left{
    width: 30px;
    height: 30px;
    background: #00f;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
    top: 50%;
    left: 10%;
}
.carousel-control-right{
    width: 30px;
    height: 30px;
    background: #00f;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
    top: 50%;
    right: 10% !important;
}
/*  */
/* 内容样式 */
.media-img{
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 15px;
}
.media-con{
    width: 20s0px;
    padding: 15px 0 15px 45px;
}
.media-con p{
    font-size: 12px;
    color: #878fac;
    margin: 0;
}
.media-con p:nth-child(1){
    color: #000;
    font-weight: 600;
    padding: 0 0 5px 0;
}
.col-con{
    height: 100px;
    position: relative;
}
.col-tre{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    font-weight:600;
}
.col-tre>span{
    position: absolute;
    top:11px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 10px;
    background-color: #cdf1f6;
}
.col-tre-a{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #878fac;
}
.c

/*  */
/* TRENDING 内容 */
.container-3>div>div{
    padding: 15px;
}
#col-bloom>img{
    width: 100%;
    height: 100%;
}
#col-bloom-a{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
#col-bloom-a>img{
    width: 100%;
    height: 100%;
}
.col-bloom-a>p{
    margin: 0;
    text-align: center;
    font-size: 12px;
}
.col-bloom-a>p>a{
    line-height: 20px;
}
.col-bloom-1{
    position: relative;
    overflow: hidden;
    width: 186px;
    height: 186px;

}
.col-bloom-img-1{
    position: relative;
    top: 0;
    left: 0;
}
.col-bloom-img-2{
    position: absolute;
    top: 0;
    left: 0;
}
.more{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more>a{
    display: block;
    width: 170px;
    height: 50px;
    border: 2px solid #222222;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more>a:hover{
    background-color: #0ff;
    color: #fff;
    border:none;
}
.uy{
    padding: 0;
}
.bc{
    padding: 0;
}
/*  */
/* swiper */
.swiper-slide>img{
    width: 300px;
    height: 225px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
}
.swiper-slide>p{
    margin: 0 15px;
}
.swiper-slide p:nth-child(2){
    font-weight: 600;
    line-height: 22px;
}
.swiper-slide p:nth-child(3){
    color: #808494;
    line-height: 33px;
}
.swiper-slide p:nth-child(4){
    font-size: 10px;
    color: #878fac;
    line-height: 22px;
}
.row-padding{
    background-color: #f6f6f8;
    padding-bottom: 100px;
}
.row-padding h3{
    font-weight: 600;
}
.row-padding h3 span{
    font-size: 16px;
}
.row-padding h3 a{
    font-size: 10px;
}
.fotter-height{
    height: 100px;
    line-height: 100px;
}
.fotter-height-img{
    display: block;
    margin: 20px;
}
#retop{
    width: 50px;
    height: 50px;
    border: 1px solid #878fac;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 100;
    background-color: #fff;
}