
.banner{
	width: 100%;
	height: 80px;
	background:url("../images/banner.jpg") no-repeat center center;
}
.top{
	width: 100%;
	height: 80px;
	background: #000;
	background:url("../images/banner.jpg") no-repeat center center;
	border:none;
	margin-bottom: 0;
}
.top_a a{
	color:#fff !important;
}
.top_a a:hover{
	color: #14CC71 !important;
}
.top_logo{
	padding:0;
}
.navbar-brand>img{
	width:140px;
	height:50px;
}
.top_bu{
	margin-top:20px;
}
.top_bu>button{
	border:none;
}
.top_bu>button:hover{
	background:none;

}
.top_a{
	margin-top:20px;
	border:none !important;
	text-align: center;
	line-height: 80px;
}
.top_a ul{
	margin:0 auto;	
}
@media only screen and (max-width: 768px){
	.top{
		width: 100%;
		background: rgb(80, 70, 87);
	}
	.top_a ul{
		width: 100%;
		height: auto;
		background: rgb(80, 70, 87);
		position: absolute;
		z-index: 66;
		left: 0;
		margin:0;
		padding: 0;
	}
	.top_a{
		margin: 0;
		height: 30px;
		background: rgb(80, 70, 87);
	}
	.top_a ul a:hover{
		color:#14CC71;
}

}
.banner{
	width:100%;
	height:200px;
	
	background: #f4f4f4;
}
.text-white{
	color:#fff;
}
.green{
	color:#1FCC6E;

}
.banner h1{
	color:#000;
	font-weight: 300;
	margin-bottom: 40px;
}
.jianjie{
	padding: 20px 0;
	height:250px;
}
.tou_btn{
	text-transform: uppercase;
	background:rgba(0,0,0,0);
	border:3px solid #fff;
}
.tou_btn:hover{
	background: #14CC71!important;
	color: #fff!important;
	border-color: #14CC71!important;
}

.SMART{
	padding: 60px 0 80px 0;

}
.SMART h1{
	font-size: 24px;
}
.h_fu{
	font-weight: 300;
	margin-bottom: 40px;
}
.SMART_img{
	width: 100%;
	margin-bottom: 30px;
}
.SMART_png{
	float: left;
	font-size: 32px;
}
.SMART_jianjie>h5{
	float: left;
	margin-left: 5px;
	margin-bottom: 16px;
}
.SMART_jianjie>p{
	width:100%;
	float: left;
	margin-left: 37px;
	line-height: 24px
}
.SMART_INDUSTRY{
	padding: 40px 0;
	background: #f4f4f4;
}
.OPEN_DATA{
	padding: 40px 0;
}
.DO{
	padding:80px 0;
	text-align: center;
	background:#504b57;
	color:#fff;
}
.DO .h_one{
	margin-bottom: 12px;
}
.do_con>span{
	display:none;
}
.block{
	display:block !important;
	text-transform: uppercase;
}
.DO_btn{
	width:168px;
	height:58px;
	padding:0;
	line-height: 58px;
	background:#14CC71;
	text-transform: uppercase;
	border:3px solid #14CC71;
}
.DO_btn:hover{
	width:168px;
	height:58px;
	padding:0;
	line-height: 58px;
	border:3px solid #14CC71;
	background:transparent;
	color:#14CC71;
}
.fot{
	padding:50px 0;
}
.fot_one{
	padding:20px 15px;
	height:90px;
	border-bottom: 1px solid #504b57;
}
.fot_one img{
	width:128px;
	height:46px;
}
.fot_meau{
	float:right;
	
}
.fot_meau>span{
	padding:0 10px;
	line-height: 50px;
}
.fot_meau>span:hover{
	color:#14CC71;
	cursor:pointer;
}
.fot_aa{
	float:right;
}
.fot_xx>img{
	width:113px;
	height:25px;
	float:right;
	margin-top:12.5px;
}
.fot_two{
	padding:20px 15px 0 15px;
	height:90px;
}
.fot_two img{
	height:70px;
	width:70px;
}
.fot_two_img{
	float:right;
}
.fot_two_img>span{
	display:inline-block;
	width:110px;
}